@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 224 71.4% 4.1%;
    --card: 60 56% 91%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 60 56% 91%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 180 82% 25%;
    --primary-foreground: 180 82% 95%;
    --secondary: 60 25% 85%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 60 25% 85%;
    --muted-foreground: 224 20% 45%;
    --accent: 43 74% 49%;
    --accent-foreground: 43 74% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 80%;
    --ring: 180 82% 25%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 180 82% 25%;
    --sidebar-foreground: 180 82% 95%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 180 82% 30%;
    --sidebar-accent-foreground: 180 82% 95%;
    --sidebar-border: 180 82% 30%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
 
  .dark {
    --background: 222 83% 4%;
    --foreground: 210 20% 98%;
    --card: 222 83% 4%;
    --card-foreground: 210 20% 98%;
    --popover: 222 83% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 180 82% 45%;
    --primary-foreground: 180 82% 95%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 43 74% 55%;
    --accent-foreground: 43 74% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 180 82% 45%;
    --sidebar-background: 222 83% 4%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 210 20% 98%;
    --sidebar-primary-foreground: 222 83% 4%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
